* {
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 90%;
    max-width: 1170px;
    margin: auto;
}

section {
    margin: 100px 0;
}

.nav {
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
}

.banner {
    background-color: #B4D0E7;
    width: 100%;
    height: 740px;
    justify-content: center;
    align-items: flex-start;




}

.card {
    padding-left: 360px;
    position: relative;
    align-items: flex-start;
}

/*footer*/

footer {
    background-color: black;
    color: white;
    position: relative;
    margin-top: 80px;
}

.footer_columns {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: white;

}

footer div {
    padding-top: 10px;
}

footer hr {

    width: 100px;
    position: absolute;
    left: 233px;
    bottom: 90px;
}

/*footer*/
#price {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}


header a {
    text-decoration: none;
    color: black;

}

.nav img {


    padding-left: 5px;
}

.nav .col-4 {
    align-items: center;
    justify-content: space-around;
}

.selection a {
    color: blue;
}

.teams {
    width: 99.3vw;
    margin-left: -350px;
    overflow: hidden;

}

.title {
    padding-top: 100px;
    font-size: 35px;
    inline-size: 70%;
    top: 0;

}

.jumbo {
    position: absolute;
    top: 120%;
}

.jumbotext {
    width: 370px;
    padding-bottom: 50px;

}

.garanzia {
    padding-top: 50px;
}
/*fa-*/
.fa-arrow-down {
    padding-top: 30px;
    font-size: 40px;
}

.fa-chevron-down {
    position: absolute;
    right: 5px;
    bottom: 30px;
    transition: .5s;
}

/*fa-*/


.selection {
    padding-top: 100px;
    padding-bottom: 80px;
}



.buisness {
    width: 70%;
}

.buisness a {
    color: blue;
}

.sel2 {
    padding-left: 20px;
}

.title2 {
    font-size: 43px;
    padding-bottom: 50px;
    padding-top: 80px;
}

#price .col-4 {
    border: 2px solid lightgray;
}

.radio {
    color: #0062ff00;
    padding-left: 13px;
    border-radius: 50%;
    border: 2px solid lightgray;
    font-size: 12px;
    margin-right: 3px;
}

.radio_checked {
    color: #0062ff00;
    padding-left: 9px;
    border-radius: 50%;
    border: 5px solid #0061FF;
    font-size: 8px;
    margin-right: 3px;
}


.partner {
    justify-content: space-between;
    margin-bottom: 100px;
}


.text6 {
    padding-top: 100px;

    flex-direction: column;

}

.text6 span {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
}


.grid {
    flex-wrap: wrap;
    justify-content: space-between;
}

.spam {
    color: #61082B;
    inline-size: 60%;
}

.prova {
    background-color: #B4D0E7;
    width: 99.3vw;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.prova2 {
    padding-top: 50px;
    align-items: center;
    justify-content: flex-start;
}

.faq {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.faq h2 {
    margin-bottom: -40px;
}

.question {
    position: relative;
}

.faq .question {
    padding-top: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}



.answer {
    display: none;
}

.qna:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.qna:hover .answer {
    display: block;
}

.lang {
    padding-left: 233px;
    padding-bottom: 50px;
}

#price .col-4 {
    position: relative;
}

.small{
    position: absolute;
    bottom: 500px;
    left: 50px;
    width: 70px;
}


/*effects*/
.nav a:hover {
    border-bottom: 2px solid #0061FF;

}

.btn:hover {
    background-color: #3782fa;
}

.white:hover {
    background-color: black;
    color: white;
}

.icon:hover {
    border: 15px solid rgba(255, 255, 255, 0.301);

}

.icon_big:hover {
    filter: invert(1);
}

/*effects*/

/*btn*/
.btn {
    color: white;
    background-color: #0061FF;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}

.jumboleft .btn {
    padding: 8px;
}

.nav .btn {


    color: white;
}

.col-4 .btn {
    width: max-content;
    padding: 10px;

}



#vendite {
    margin-right: 30px;
    color: white;
    padding: 10px;
}

.white {
    margin-top: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    width: max-content;
}

/*btn*/

/*uti*/
.flex {
    display: flex;

}

.flexh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 1px solid black;

}

ul {
    list-style: none;
}

h4 {
    padding-left: 30px;
}

.col-2 {
    width: calc(90%/12*2);
    padding-top: 10px;
}

.col-4 {
    width: calc(90%/12*4);


}

.coll-4 {
    width: calc(100%/12*4);


}

.col-8 {
    width: calc(95%/12*8);


}

.wrap {
    flex-wrap: wrap;
}

.col-h {
    width: 100%;
    border: 2px solid lightgray;
    margin-top: 50px;
    position: relative;
}


.padding {
    padding: 30px;
}

.padding_left {
    padding-left: 50px;

}

.padding_bottom {
    padding-bottom: 54px;
}

.padding_less {
    padding: 12px;
}

.margin_neg {
    margin-left: -17px;
}

.ta {
    text-align: center;
}

.tal {
    text-align: left;
}

.ma {
    margin: auto;
}



.light {
    color: gray;
}

.fa-check {
    color: #0061FF;
}


/*uti*/
.nav {
    justify-content: space-between;
}

/*icons*/

.icon {
    width: 50%;
    aspect-ratio: 1;
    justify-content: center;
    transition: .5s;

}

.designit {
    background-color: #A2D39B;


}

.asu {
    background-color: #61082B;

}

.uof {
    background-color: #0093CE;
    align-items: center;

}

.topps {
    background-color: #FF1C1C;

}

.bicycle {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.planet {
    background-color: #0D2481;
}

.clear {
    background-color: #FFD830;
}

.icon img {
    filter: invert(1);
}

.icon_big {
    background-color: #F5F5F5;
    padding: 30px;
    transition: 1s;
}

.icon_big img {
    padding-bottom: 30px;
}

.icon_big p {
    padding-bottom: 30px;
}

/*icons*/




/*debug*/
.debug .nav {
    background-color: rgb(218, 50, 45);
    height: 80px;

}

.debug .col-4 {
    background-color: aquamarine;
    border: 1px dashed;
    height: 100%;
}

.debug .col-h {
    background-color: aquamarine;
    border: 1px dashed;
    height: 250px;
    width: 1000px;
}

.debug .banner {
    background-color: lightblue;
}

.debug .card {
    background-color: brown;
    height: 664px;
    width: 1183px;
}


.debug #price {
    background-color: plum;
    height: 1544px;
    width: 100%;
}

/*debug*/