*{
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    max-width: 1170px;
}

.nav{
    align-items: center;
}

.banner{
    width: 100%;
    height:740px ;
    justify-content: center;
    align-items: flex-end;
}


/*uti*/
.flex{
    display:flex ;
    
}

.col-4{
    width: calc(100%/12*4);
    height: 100%;
}
/*uti*/
.nav{
    justify-content: space-between;
}



/*debug*/
.debug .nav{
    background-color: rgb(218, 50, 45);
    height: 80px;

}
.debug .col-4{
    background-color: aquamarine;
}

.debug .banner{
    background-color: lightblue;
}
.debug .card{
    background-color: brown;
    height: 664px;
    width: 1183px;
}
/*debug*/
